*      {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family:sans-serif;
    font-size: 14px;
}

body {
    width: 100%;
    min-height: 100vh;
    background-color:whitesmoke;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.instagram-wrapper {
    display: flex;
    align-items: center;
    justify-content:center;
    position:relative;
    width: 60%;
    height: 100vh;
}

.instagram-phone1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.instagram-phone1 img {
    height: 40.2rem;
    border-radius: 10px;
    z-index: 1;
    left: 50px;
    top: 0;
}

.instagram-phone2{
    display: flex;
    align-items:center;
    justify-content: center;
    position:fixed;
    width: 25%;
    left: 10%;
}

.instagram-phone2 img{
    height: 30.2rem;
    border-radius: 10px;
    z-index: 2;
    left: 80px;
    top: 0;
} 

.instagram-continue {
    display:flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
    gap: 20px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    width: 100%;
    padding: 1.3rem 0;
    border: 1px solid #ffffff;
    gap: 10px;
}

.group:nth-child(1) {
    min-height: 19rem;
}

.instagram-logo {
    height: 8rem;
}

.profile-photo {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}
  
.profile-photo img {
    height: 8rem;
}

.instagram-login {
    background-color: #0095f6;
    color:#ffffff;
    padding: 8px;
    border-radius: 4px;
}

.instagram-logout {
    color: #0095f6;
    margin-top: 1rem;
}

.not-account {
    color: rgb(160, 160, 160);
}

.link-blue {
    color: #0095f6;
}

.get-the-app {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1rem;
}

.app-download {
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url(/downloadappstore.png);
}

.app-download:nth-child(2) {
    background-image: url(/getiton.png);
}